nav#navbar-mobile {
  visibility: hidden;
  position: absolute;
}
@media (max-width: 700px) {
  :root {
    --nav-column-gap: 0px;
  }
  nav#navbar-desktop {
    display: none;
    visibility: hidden;
    position: absolute;
  }
  nav#navbar-mobile {
    visibility: visible;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center center;

  }
  .container header {
    grid-area: navbarMobileZone;
    z-index: 1;
    background-color: rgba(111,162,221,1);
    display: grid;
  }
  header img {
    width: 64px;
  }
  body div.container {
    display: grid;
    grid-template-rows: calc(100vh - 80px) 80px;
    grid-template-columns: 100%;
    grid-template-areas: 
      "mainZone"
      "navbarMobileZone";
    row-gap: 0px;
  }
  main {
    overflow-y: scroll;
    padding: 20px;
  }
}