/*
  Variables
*/
:root {
  --padding-horizontal: 70px;
}

/*
  Full screen
*/
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
  overflow-x: hidden;
}
body {
  display: flex;
  flex-flow: column;
}
.container {
  background-color: var(--main-bg-color);
  flex: 1 1 auto;
}

/*
  Structure de base
*/
.container {
  display: grid;
  grid-template-columns: 100%;
  grid-template-rows: min-content auto;
  grid-template-areas: 
    "navbarZone"
    "mainZone";
  row-gap: var(--container-row-gap);
}
main {
  grid-area: mainZone;
}
header {
  grid-area: navbarZone;
  padding-top: 8px;
}
header, main {
  padding-left: var(--padding-horizontal); padding-right: var(--padding-horizontal);
}
/* Nav bar */
header {
  * {
    color: var(--not-active-link-color);
    font-size: var(--nav-font-size);
  }
  a:hover {
    color: var(--hover-link-color);
  }
  svg {
    height: 1em;
    width: auto;
  }
  #navbar-desktop {
    display: grid;
    grid-template-columns: auto auto;
    #logo {
      justify-self: start;
      align-self: center;
    }
    .lienTexte {
      display: flex;
      flex-direction: row;
      justify-content: flex-end;
      column-gap: var(--nav-column-gap);
    }
  }
  #navbar-mobile {
    visibility: hidden;
    position: absolute;
  }
}
