nav#navbar-mobile {
  visibility: hidden;
  position: absolute;
}
@media (max-width: 700px) {
  nav#navbar-desktop {
    visibility: hidden;
    position: absolute;
  }
  nav#navbar-mobile {
    visibility: visible;
    position: relative;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    place-items: center center;
  }
  header {
    grid-area: navbarMobileZone;
  }
  header img {
    height: 64px;
  }
  .container {
    display: grid;
    grid-template-rows: auto 80px;
    grid-template-columns: auto;
    grid-template-areas: 
      "mainZone"
      "navbarMobileZone";
      row-gap: 0px;
  }


}