.container {
  display: grid;
  grid-template-columns: repeat(12, [col-start] 1fr);
  /* grid-gap: 20px; */
  column-gap: 20px;
  row-gap: 140px;
}

/* .container > * {
  grid-column: col-start / span 12;
} */

header {
  grid-column: col-start / span 12;
}
header ol {
  margin: 0px;
  padding: 0px;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: 60px;
}
header * {
  text-decoration: none;
  color: #8a8a8a;
  font-size: clamp(20px, 2.96875vw, 56px);
  /* font-size: 2.96875vw; */
  /* font-size: minmax(20px, 2.96875vw); */
}
header a:hover {
  color: #696969;
  /* background-color: #064C9E; */
}
header a.active-link {
  position: relative;
  color: black;
}
.active-link::before {
  content: '';
  position: absolute;
  width: 0.76785714285em;
  height: 0.17em;
  /* height: 0.21428571428em; */
  background-color: black;
}
header nav svg#logo {
  height: 1em;
  align-self: center;
  width: auto;
}

#filtre {
  grid-column: col-start / span 2;
  background-color: #064C9E;
  height: fit-content;
  text-align: center;
  padding-bottom: 28px;
  padding-left: 22px;
  padding-right: 22px;
}
#filtre h3 {
  color: white;
}
#filtre ul {
  list-style-type: none;
  padding: 0;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
  row-gap: 0.7em;
}
#filtre ul li {
  background-color: white;
  border-radius: 10px;
  padding: 0px 0.7em;
}

#projets {
  grid-column: 3 / span 10;
}

#projets .projet {
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  border-radius: 39px;
  /* position: relative;
  padding-top: 64px;
  padding-left: 74px;
  padding-bottom: 53px; */
}
#projets .projet .contenu {
  grid-column-start: 1;
  grid-column-end: 7;
  position: relative;
  padding-top: 64px;
  padding-left: 74px;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
#projets .projet .image {
  grid-column-start: 7;
  grid-column-end: 11;

  background-image: url("../assets/stockThumbnail.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;

  border-radius: 0px 39px 39px 0px;
}
#projets .projet h2 {
  position: absolute;
  top: -0.75em;
  font-size: 96px;
  margin-top: 0px;
  white-space: nowrap;
}
#projets .projet * {
  margin: 0px;
  padding: 0px;
}

#projets .projet p {
  font-size: 34px;
}
#projets .projet .contenu a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  align-items: center;
}

.projet:not(:first-child) {
  margin-top: 146px;
}

#projets .projet .logo {
  height: 64px;
  width: 64px;
}

body {
  background-color: #F0F0F0;
  margin: 8px 70px;
}
