@use 'StructureCommune';

/*
  Structure de base
*/
.container {
  row-gap: 140px;
}

/*
  Structure de la page
*/
main {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas: 
    "filtre carte";
  column-gap: 20px;
  row-gap: 140px;
}
#filtre {
  grid-area: filtre;
  background-color: #000;
  height: fit-content;
  text-align: center;
  padding-bottom: 28px;
  padding-left: 22px;
  padding-right: 22px;
  position: sticky;
  top: 20px;
  border-radius: 23px;

  h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 16px;
  }

  button {
    height: 64px;
    width: 64px;
    border: none;
    padding: 0px;
    background-color: rgba(0, 0, 0, .0);
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
  }

  button {
    transition-property: all;
    transition-duration: 0.4s;
    filter: grayscale(0%);
  }

  .grey {
    filter: grayscale(80%);
  }
}

#projets {
  grid-area: carte;
  display: flex;
  flex-direction: column;
  row-gap: 146px;
  margin-bottom: 50px;
}
.projet {
  background-color: white;
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  border-radius: 39px;
}
.contenu {
  grid-column-start: 1;
  grid-column-end: 7;
  position: relative;
  padding-top: 64px;
  padding-left: 74px;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.image {
  grid-column-start: 7;
  grid-column-end: 11;

  background-image: url("../assets/stockThumbnail.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;

  border-radius: 0px 39px 39px 0px;
}
#projets #thumbnail-quiestce {
  background-image: url("../assets/ProjetQuiEstCe/thumbnail.webp");
}
.projet h2 {
  position: absolute;
  top: -0.75em;
  font-size: 96px;
  margin-top: 0px;
  white-space: nowrap;
}

.projet p {
  font-size: 34px;
}
.contenu a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  align-items: center;
  font-size: 28px;
}
.logo {
  height: 64px;
  width: 64px;
}
.logo-js { border-radius: 8px; }
.langage {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
#projets .projet.removed { position: absolute; visibility: hidden; display: none; }

.html {
  border-left: 7px solid #ef652a;
}
.py {
  border-left: 7px solid #3777ad;
}



@media (max-width: 1400px) {
  main {
    display: grid;
    grid-template-rows: 110px auto;
  }
  #filtre {
    grid-row: 1;
    grid-column: col-start;
    z-index: 1;
  }
  #filtre div {
    flex-direction: row;
    justify-content: center;
    column-gap: 12px;
  }
  #projets {
    grid-column: col-start / span 12;
  }
  #projets .projet .contenu {
    grid-column-end: 6;
  }
  .image {
    grid-column-start: 6;
  }
  /* .projet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 350px;
  }
  .image {
    grid-row: 2;
    align-self: stretch;
    grid-column: 1 / span 6;
    border-radius: 0px  0px 39px 39px;
  } */
}
