@use 'StructureCommune';
@use 'NavMobile';


:root {
  --button-size: 64px;
}
/*
  Structure de base
*/
.container {
  row-gap: 140px;
}

/*
  Structure de la page
*/
main {
  display: grid;
  grid-template-columns: 1fr 11fr;
  grid-template-areas: 
    "filtre carte";
  column-gap: 20px;
  row-gap: 140px;
}
#filtre {
  grid-area: filtre;
  background-color: #000;
  height: fit-content;
  text-align: center;
  padding: 12px 22px 28px;
  position: sticky;
  top: 20px;
  border-radius: 23px;

  h3 {
    color: white;
    font-size: 28px;
    margin-bottom: 16px;
  }

  button {
    height: var(--button-size);
    width: var(--button-size);
    border: none;
    padding: 0px;
    background-color: rgba(0, 0, 0, .0);
    cursor: pointer;
  }

  img {
    width: 100%;
    height: 100%;
  }

  div {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    align-items: center;
  }

  button {
    transition-property: all;
    transition-duration: 0.4s;
    filter: grayscale(0%);
  }

  .grey {
    filter: grayscale(80%);
  }
}

#projets {
  grid-area: carte;
  display: flex;
  flex-direction: column;
  row-gap: 146px;
  margin-bottom: 50px;
}
.projet {
  background-color: white;
  display: grid;
  grid-template-columns: 6fr 4fr;
  grid-template-areas: "contenu thumbnail";
  border-radius: 39px;
}
.contenu {
  grid-area: contenu;
  position: relative;
  padding-top: 64px;
  padding-left: 74px;
  padding-bottom: 53px;
  display: flex;
  flex-direction: column;
  row-gap: 40px;
}
.image {
  grid-area: thumbnail;

  background-image: url("../assets/stockThumbnail.webp");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;

  height: 100%;

  border-radius: 0px 39px 39px 0px;
}
#projets #thumbnail-quiestce {
  background-image: url("../assets/ProjetQuiEstCe/thumbnail.webp");
}
.projet h2 {
  position: absolute;
  top: -0.75em;
  font-size: 96px;
  margin-top: 0px;
  white-space: nowrap;
}

.projet p {
  font-size: 34px;
}
.contenu a {
  background-color: black;
  color: white;
  text-decoration: none;
  padding: 6px 14px;
  border-radius: 5px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  column-gap: 11px;
  align-items: center;
  font-size: 28px;
}
.logo {
  height: 64px;
  width: 64px;
}
.logo-js { border-radius: 8px; }
.langage {
  display: flex;
  flex-direction: row;
  column-gap: 12px;
}
#projets .projet.removed { position: absolute; visibility: hidden; display: none; }

.html {
  border-left: 7px solid #ef652a;
}
.py {
  border-left: 7px solid #3777ad;
}



@media (max-width: 1400px) {
  main {
    display: grid;
    grid-template-rows: auto;
    grid-template-columns: 100px 1fr;
    grid-template-areas: "filtre carte";
  }
  #filtre {
    grid-row: 1;
    grid-column: filtre;
    z-index: 1;
    padding-left: 0px;
    padding-right: 0px;

    h3 {
      &::after {
        // content: " :";
      }
    }
  }
  #filtre div {
    // flex-direction: row;
    justify-content: center;
    column-gap: 12px;
  }
  #projets {
    grid-area: carte;
  }
  .projet {
    grid-template-columns: 1fr 1fr;
  }
  /* .projet {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 350px;
  }
  .image {
    grid-row: 2;
    align-self: stretch;
    grid-column: 1 / span 6;
    border-radius: 0px  0px 39px 39px;
  } */
}

@media (max-width: 1000px) {
  .projet {
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
    "thumbnail"
      "contenu"
    ;

    h2 {
      font-size: 83px;
    }
  }
  .image {
    border-radius: 39px 39px 0px 0px ;
  }
  .py {
    border-left: 0px solid #3777ad;
    border-bottom: 7px solid #3777ad;
  }
  .html {
    border-left: 0px solid #ef652a;
    border-bottom: 7px solid #ef652a;
  }
  .contenu {
    padding-left: 40px;
    padding-right: 40px;
  }
}

@media (max-width: 700px) {
  :root {
    --padding-horizontal: 35px;
    --button-size: 38px;
  }
  .logo {
    height: 40px;
    width: 40px;
  }
  #projets {
    row-gap: 90px;
    padding-bottom: 30px;
  }
  .projet {
    h2 {
      font-size: 39px;
    }
    p {
      font-size: 22px;
      text-align: justify;
    }
  }
  .contenu {
    row-gap: 18px;
    padding-top: 45px;
    padding-bottom: 30px;
  }
  main {
    grid-template-rows: auto 1fr;
    grid-template-columns: 100%;
    grid-template-areas: "filtre" "carte";
    overflow-x: hidden;
    row-gap: 35px;
  }
  #filtre {
    top: 0px;
    padding-top: 2px;
    padding-bottom: 10px;
    margin-bottom: 10px;
    // overflow-x: scroll;
    div {
      flex-direction: row;
      // overflow-y: scroll;
      // width: fit-content;
      flex-wrap: wrap;
    }
  }
}
