:root {
  --main-blue-color: #064C9E;
  --main-orange-color: #FAA43F
}

html, body {
    margin: 0;
    height: 100%;
    width: 100%;
}
body {
    display: flex;
    flex-direction: column;
}
.container {
  flex: 1 1 auto;
  display: grid;
  grid-template-columns: repeat(2, 50%);
  grid-template-areas: 
  "colGauche colDroite";
}

.colGauche, .colDroite {
  padding: 8rem 7.375rem;
}
.colGauche {
  background-color: var(--main-blue-color);
  grid-area: colGauche;
  color: #F0F0F0;

  p {
    font-size: 45px;
    margin-bottom: 6.25rem;
    text-align: justify;
  }

}
h1 {
  // font-size: 92px;
  font-size: clamp(66px, 17.6vw, 92px);
  margin-bottom: 1.0869em;
}
.colDroite {
  background-color: var(--main-bg-color);
  grid-area: colDroite;
  overflow-wrap: anywhere;
}

.bouttonNeobrutal {
  border: 7px solid black;
  width: 3.488em;
  height: 1.682em;
  background-color: var(--main-orange-color);
  font-size: 88px;
  color: black;
  display:flex;
  flex-flow: row;
  justify-content: space-evenly;
  align-items: center;
  box-shadow: 7px 7px black;
}
.bouttonNeobrutal img {
  height: 5.875rem;
}

.colDroite {
  grid-column: 2;
  background-color: #F0F0F0;
}
address {
  display: flex;
  flex-flow: column;
  row-gap: 7.375rem;
}

.contactLien {
  display: flex;
  flex-flow: row;
  align-items: center;
  // font-size: 36px;
  font-size: 1.948051948vw;
  img {
    width: 9.75rem;
    margin-right: 62px;
  }
}

@media (max-width: 1400px) {
  :root {
    --ecart: 7.375rem;
  }
  .container {
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
    grid-template-areas: 
      "en-haut"
      "en-bas";
  }

  .colGauche {
    grid-area: en-haut;
    padding: 6rem var(--ecart);
    
  }
  .colDroite {
    grid-area: en-bas;
  }
  .contactLien {
    font-size: 5.9vw;
  }
}

@media (max-width: 600px) {
  :root {
    --ecart: 20vw;
  }
  .container {
    text-align: center;
  }
  .colGauche {
    display: grid;
    p { font-size: 30px; }
  }
  .bouttonNeobrutal {
    justify-self: center;
  }
  .colDroite {
    .contactLien {
      flex-direction: column;
    }
  }
  .contactLien {
    img {
      margin: 0px;
    }
  }
  .bouttonNeobrutal {
    font-size: 60px;
    img {
      height: 1em;
    }
  }
}