:root {
  --container-row-gap: 45px;
}
html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}
body {
  display: flex;
  flex-flow: column;
}

.container {
  background-color: var(--main-bg-color);
  flex: 1 1 auto;
}

header nav#navbar-desktop * {
  color: var(--not-active-link-color);
  font-size: var(--nav-font-size);
}
header nav#navbar-desktop a:hover {
  color: var(--hover-link-color);
}
header svg {
  height: 1em;
  width: auto;
}
.container {
  display: grid;
  grid-template-columns: var(--espace-blanc) auto var(--espace-blanc);
  grid-template-rows: auto auto;
  grid-template-areas: 
    ". navbarZone ."
    ". mainZone .";
  row-gap: var(--container-row-gap);
}
header {
  grid-area: navbarZone;
}
header nav#navbar-desktop {
  display: grid;
  grid-template-columns: auto auto;
}
header nav#navbar-desktop #logo {
  justify-self: start;
  align-self: center;
}
header nav#navbar-desktop div.lienTexte {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  column-gap: var(--nav-column-gap);
}

main {
  grid-area: mainZone;
}

main hgroup {
  margin-top: 30px;
  font-size: 30px;
}
main hgroup h2 {
  font-size: 20px;
}

main h2:not(main hgroup h2) {
  margin-top: 20px;
}

main #gallerie div.images {
  /* width: 100%;
  height: 35vh; */

  background-color: #e4e3e3;
  display: flex;
  overflow: auto;
  outline: 1px dashed lightgray;
  flex: none;

  width: 100%;
  height: 128px;
  flex-flow: row nowrap;

  scroll-snap-type: x mandatory;
  /* https://developer.mozilla.org/fr/docs/Web/CSS/scroll-snap-type */
}

main #gallerie div.images div, img {
  height: 100%;
  width: auto;
}
main #gallerie div.images div {
  text-align: center;
  scroll-snap-align: center;
  flex: none;
  line-height: 128px;
  font-size: 64px;
  width: 80%;
  height: 128px;
}

main #gallerie div.images div:nth-child(even) {
  background-color: aqua;
}

main #gallerie div.images div:nth-child(odd) {
  background-color: blueviolet;
}
